<!-- Wrapper untuk center dan background -->
<div class="d-flex justify-content-center align-items-center vh-100 auth-background">
  <div class="container" style="max-width: 400px;">
    <div class="card shadow-lg w-100">
      <div class="card-body text-center">

        <!-- Logo BCA Finance -->
        <img src="assets/bcafinancelogo.png" alt="BCA Finance" class="mb-3" style="max-height: 50px;" />

        <!-- Judul -->
        <h2 class="mb-4">{{ title }}</h2>

        <!-- Konten dari komponen anak -->
        <ng-content></ng-content>

      </div>
    </div>
  </div>
</div>
