<div class="container mt-4">
  <h3>Edit Plafond</h3>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group mb-2">
      <label>Nama</label>
      <input type="text" class="form-control" [(ngModel)]="plafond.name" name="name" required />
    </div>

    <div class="form-group mb-2">
      <label>Maksimum Jumlah Pinjaman</label>
      <input type="number" class="form-control" [(ngModel)]="plafond.maxAmount" name="maxAmount" step="any" required />
    </div>

    <div class="form-group mb-2">
      <label>Bunga (%)</label>
      <input type="number" class="form-control" [(ngModel)]="plafond.interestRate" name="interestRate" step="any"
        required />
    </div>

    <div class="form-group mb-2">
      <label>Minimal Tenor (bulan)</label>
      <input type="number" class="form-control" [(ngModel)]="plafond.minTenor" name="minTenor" required />
    </div>

    <div class="form-group mb-3">
      <label>Maksimal Tenor (bulan)</label>
      <input type="number" class="form-control" [(ngModel)]="plafond.maxTenor" name="maxTenor" required />
    </div>

    <button class="btn btn-primary" type="submit">Simpan</button>
  </form>
</div>