.sidebar {
  width: 260px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  background-color: #00407c;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  padding-top: 1rem;
  z-index: 1000;
}