<div class="container mt-4">
  <h4 class="fw-bold">{{ title }}</h4>

  <form (ngSubmit)="onSubmit()" #branchForm="ngForm">
    <div class="mb-3">
      <label for="name" class="form-label">Nama Cabang</label>
      <input type="text" id="name" class="form-control" [(ngModel)]="branch.name" name="name" required />
    </div>

    <div class="mb-3">
      <label for="address" class="form-label">Alamat</label>
      <textarea id="address" class="form-control" [(ngModel)]="branch.address" name="address" rows="3"
        required></textarea>
    </div>

    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="latitude" class="form-label">Latitude</label>
        <input type="number" id="latitude" class="form-control" [(ngModel)]="branch.latitude" name="latitude" step="any"
          required />
      </div>

      <div class="col-md-6 mb-3">
        <label for="longitude" class="form-label">Longitude</label>
        <input type="number" id="longitude" class="form-control" [(ngModel)]="branch.longitude" name="longitude"
          step="any" required />
      </div>
    </div>

    <div class="text-end">
      <button type="submit" class="btn btn-primary px-4" [disabled]="branchForm.invalid || isLoading">
        <span *ngIf="isLoading" class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
        {{ submitButtonText }}
      </button>
    </div>
  </form>
</div>